# =================================================================
# Local Development Settings (WAMP) 
# =================================================================
RewriteEngine On

# Handle other routes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html !-f
RewriteRule ^([^/]+)$ $1.html [L]

# Custom error pages
ErrorDocument 404 /nsikacart/404.md
ErrorDocument 500 /nsikacart/500.md